---
swagger: "2.0"
info:
  description: "This document describes the REST API of Trello as published by Trello.com.\n\
    \ - <a href='https://trello.com/docs/index.html' target='_blank'>Official Documentation</a>\n\
    \ - <a href='https://trello.com/docs/api' target='_blank'>The HTML pages that\
    \ were scraped in order to generate this specification.</a>"
  version: "1.0"
  title: "Trello"
  termsOfService: "https://trello.com/legal"
  contact:
    name: "Trello"
    url: "https://trello.com/home"
  license:
    name: "Trello : Terms of Service"
    url: "https://trello.com/legal"
host: "trello.com"
basePath: "/1"
tags:
- name: "action"
  description: "https://trello.com/docs/api/action/index.html"
- name: "batch"
  description: "https://trello.com/docs/api/batch/index.html"
- name: "board"
  description: "https://trello.com/docs/api/board/index.html"
- name: "card"
  description: "https://trello.com/docs/api/card/index.html"
- name: "checklist"
  description: "https://trello.com/docs/api/checklist/index.html"
- name: "label"
  description: "https://trello.com/docs/api/label/index.html"
- name: "list"
  description: "https://trello.com/docs/api/list/index.html"
- name: "member"
  description: "https://trello.com/docs/api/member/index.html"
- name: "notification"
  description: "https://trello.com/docs/api/notification/index.html"
- name: "organization"
  description: "https://trello.com/docs/api/organization/index.html"
- name: "search"
  description: "https://trello.com/docs/api/search/index.html"
- name: "session"
  description: "https://trello.com/docs/api/session/index.html"
- name: "token"
  description: "https://trello.com/docs/api/token/index.html"
- name: "type"
  description: "https://trello.com/docs/api/type/index.html"
- name: "webhook"
  description: "https://trello.com/docs/api/webhook/index.html"
schemes:
- "https"
paths:
  /actions/{idAction}:
    get:
      tags:
      - "action"
      summary: "getActionsByIdAction()"
      operationId: "getActionsByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "display"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "entities"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        required: false
        type: "string"
        default: "all"
      - name: "member"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "member_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, fullName, initials and username"
      - name: "memberCreator"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "memberCreator_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, fullName, initials and username"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
    put:
      tags:
      - "action"
      summary: "updateActionsByIdAction()"
      operationId: "updateActionsByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Actions\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/actions"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
    delete:
      tags:
      - "action"
      summary: "deleteActionsByIdAction()"
      operationId: "deleteActionsByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/board:
    get:
      tags:
      - "action"
      summary: "getActionsBoardByIdAction()"
      operationId: "getActionsBoardByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: closed, dateLastActivity,\
          \ dateLastView, desc, descData, idOrganization, invitations, invited, labelNames,\
          \ memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred,\
          \ subscribed or url"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/board/{field}:
    get:
      tags:
      - "action"
      summary: "getActionsBoardByIdActionByField()"
      operationId: "getActionsBoardByIdActionByField"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "field"
        in: "path"
        description: "field"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/card:
    get:
      tags:
      - "action"
      summary: "getActionsCardByIdAction()"
      operationId: "getActionsCardByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/card/{field}:
    get:
      tags:
      - "action"
      summary: "getActionsCardByIdActionByField()"
      operationId: "getActionsCardByIdActionByField"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "field"
        in: "path"
        description: "field"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/display:
    get:
      tags:
      - "action"
      summary: "getActionsDisplayByIdAction()"
      operationId: "getActionsDisplayByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/entities:
    get:
      tags:
      - "action"
      summary: "getActionsEntitiesByIdAction()"
      operationId: "getActionsEntitiesByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/list:
    get:
      tags:
      - "action"
      summary: "getActionsListByIdAction()"
      operationId: "getActionsListByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: closed, idBoard, name, pos\
          \ or subscribed"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/list/{field}:
    get:
      tags:
      - "action"
      summary: "getActionsListByIdActionByField()"
      operationId: "getActionsListByIdActionByField"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "field"
        in: "path"
        description: "field"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/member:
    get:
      tags:
      - "action"
      summary: "getActionsMemberByIdAction()"
      operationId: "getActionsMemberByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, avatarSource,\
          \ bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned,\
          \ idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed,\
          \ prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash,\
          \ url or username"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/member/{field}:
    get:
      tags:
      - "action"
      summary: "getActionsMemberByIdActionByField()"
      operationId: "getActionsMemberByIdActionByField"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "field"
        in: "path"
        description: "field"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/memberCreator:
    get:
      tags:
      - "action"
      summary: "getActionsMemberCreatorByIdAction()"
      operationId: "getActionsMemberCreatorByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, avatarSource,\
          \ bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned,\
          \ idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed,\
          \ prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash,\
          \ url or username"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/memberCreator/{field}:
    get:
      tags:
      - "action"
      summary: "getActionsMemberCreatorByIdActionByField()"
      operationId: "getActionsMemberCreatorByIdActionByField"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "field"
        in: "path"
        description: "field"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/organization:
    get:
      tags:
      - "action"
      summary: "getActionsOrganizationByIdAction()"
      operationId: "getActionsOrganizationByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: billableMemberCount, desc,\
          \ descData, displayName, idBoards, invitations, invited, logoHash, memberships,\
          \ name, powerUps, prefs, premiumFeatures, products, url or website"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/organization/{field}:
    get:
      tags:
      - "action"
      summary: "getActionsOrganizationByIdActionByField()"
      operationId: "getActionsOrganizationByIdActionByField"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "field"
        in: "path"
        description: "field"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/text:
    put:
      tags:
      - "action"
      summary: "updateActionsTextByIdAction()"
      operationId: "updateActionsTextByIdAction"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Actions Text\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/actions_text"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /actions/{idAction}/{field}:
    get:
      tags:
      - "action"
      summary: "getActionsByIdActionByField()"
      operationId: "getActionsByIdActionByField"
      parameters:
      - name: "idAction"
        in: "path"
        description: "idAction"
        required: true
        type: "string"
      - name: "field"
        in: "path"
        description: "field"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
  /batch:
    get:
      tags:
      - "batch"
      summary: "getBatch()"
      operationId: "getBatch"
      parameters:
      - name: "urls"
        in: "query"
        description: "list of API v1 GET routes, not including the version prefix"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
  /boards:
    post:
      tags:
      - "board"
      summary: "addBoards()"
      operationId: "addBoards"
      parameters:
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards\" to be added."
        required: true
        schema:
          $ref: "#/definitions/boards"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}:
    get:
      tags:
      - "board"
      summary: "getBoardsByIdBoard()"
      operationId: "getBoardsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "actions"
        in: "query"
        description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        required: false
        type: "string"
      - name: "actions_entities"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "actions_display"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "actions_format"
        in: "query"
        description: "One of: count, list or minimal"
        required: false
        type: "string"
        default: "list"
      - name: "actions_since"
        in: "query"
        description: "A date, null or lastView"
        required: false
        type: "string"
      - name: "actions_limit"
        in: "query"
        description: "a number from 0 to 1000"
        required: false
        type: "string"
        default: "50"
      - name: "action_fields"
        in: "query"
        description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        required: false
        type: "string"
        default: "all"
      - name: "action_member"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "action_member_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, fullName, initials and username"
      - name: "action_memberCreator"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "action_memberCreator_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, fullName, initials and username"
      - name: "cards"
        in: "query"
        description: "One of: all, closed, none, open or visible"
        required: false
        type: "string"
        default: "none"
      - name: "card_fields"
        in: "query"
        description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        required: false
        type: "string"
        default: "all"
      - name: "card_attachments"
        in: "query"
        description: "A boolean value or &quot;cover&quot; for only card cover attachments"
        required: false
        type: "string"
      - name: "card_attachment_fields"
        in: "query"
        description: "all or a comma-separated list of: bytes, date, edgeColor, idMember,\
          \ isUpload, mimeType, name, previews or url"
        required: false
        type: "string"
        default: "all"
      - name: "card_checklists"
        in: "query"
        description: "One of: all or none"
        required: false
        type: "string"
        default: "none"
      - name: "card_stickers"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "boardStars"
        in: "query"
        description: "One of: mine or none"
        required: false
        type: "string"
        default: "none"
      - name: "labels"
        in: "query"
        description: "One of: all or none"
        required: false
        type: "string"
        default: "none"
      - name: "label_fields"
        in: "query"
        description: "all or a comma-separated list of: color, idBoard, name or uses"
        required: false
        type: "string"
        default: "all"
      - name: "labels_limit"
        in: "query"
        description: "a number from 0 to 1000"
        required: false
        type: "string"
        default: "50"
      - name: "lists"
        in: "query"
        description: "One of: all, closed, none or open"
        required: false
        type: "string"
        default: "none"
      - name: "list_fields"
        in: "query"
        description: "all or a comma-separated list of: closed, idBoard, name, pos\
          \ or subscribed"
        required: false
        type: "string"
        default: "all"
      - name: "memberships"
        in: "query"
        description: "all or a comma-separated list of: active, admin, deactivated,\
          \ me or normal"
        required: false
        type: "string"
        default: "none"
      - name: "memberships_member"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "memberships_member_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "fullName and username"
      - name: "members"
        in: "query"
        description: "One of: admins, all, none, normal or owners"
        required: false
        type: "string"
        default: "none"
      - name: "member_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, initials, fullName, username and confirmed"
      - name: "membersInvited"
        in: "query"
        description: "One of: admins, all, none, normal or owners"
        required: false
        type: "string"
        default: "none"
      - name: "membersInvited_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, initials, fullName and username"
      - name: "checklists"
        in: "query"
        description: "One of: all or none"
        required: false
        type: "string"
        default: "none"
      - name: "checklist_fields"
        in: "query"
        description: "all or a comma-separated list of: idBoard, idCard, name or pos"
        required: false
        type: "string"
        default: "all"
      - name: "organization"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "organization_fields"
        in: "query"
        description: "all or a comma-separated list of: billableMemberCount, desc,\
          \ descData, displayName, idBoards, invitations, invited, logoHash, memberships,\
          \ name, powerUps, prefs, premiumFeatures, products, url or website"
        required: false
        type: "string"
        default: "name and displayName"
      - name: "organization_memberships"
        in: "query"
        description: "all or a comma-separated list of: active, admin, deactivated,\
          \ me or normal"
        required: false
        type: "string"
        default: "none"
      - name: "myPrefs"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: closed, dateLastActivity,\
          \ dateLastView, desc, descData, idOrganization, invitations, invited, labelNames,\
          \ memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred,\
          \ subscribed or url"
        required: false
        type: "string"
        default: "name, desc, descData, closed, idOrganization, pinned, url, shortUrl,\
          \ prefs and labelNames"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
    put:
      tags:
      - "board"
      summary: "updateBoardsByIdBoard()"
      operationId: "updateBoardsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/boards"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/actions:
    get:
      tags:
      - "board"
      summary: "getBoardsActionsByIdBoard()"
      operationId: "getBoardsActionsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "entities"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "display"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "filter"
        in: "query"
        description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        required: false
        type: "string"
        default: "all"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        required: false
        type: "string"
        default: "all"
      - name: "limit"
        in: "query"
        description: "a number from 0 to 1000"
        required: false
        type: "string"
        default: "50"
      - name: "format"
        in: "query"
        description: "One of: count, list or minimal"
        required: false
        type: "string"
        default: "list"
      - name: "since"
        in: "query"
        description: "A date, null or lastView"
        required: false
        type: "string"
      - name: "before"
        in: "query"
        description: "A date, or null"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page * limit must be less than 1000"
        required: false
        type: "string"
        default: "0"
      - name: "idModels"
        in: "query"
        description: "Only return actions related to these model ids"
        required: false
        type: "string"
      - name: "member"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "member_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, fullName, initials and username"
      - name: "memberCreator"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "memberCreator_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, fullName, initials and username"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/boardStars:
    get:
      tags:
      - "board"
      summary: "getBoardsBoardStarsByIdBoard()"
      operationId: "getBoardsBoardStarsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "filter"
        in: "query"
        description: "One of: mine or none"
        required: false
        type: "string"
        default: "mine"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/calendarKey/generate:
    post:
      tags:
      - "board"
      summary: "addBoardsCalendarKeyGenerateByIdBoard()"
      operationId: "addBoardsCalendarKeyGenerateByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/cards:
    get:
      tags:
      - "board"
      summary: "getBoardsCardsByIdBoard()"
      operationId: "getBoardsCardsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "actions"
        in: "query"
        description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        required: false
        type: "string"
      - name: "attachments"
        in: "query"
        description: "A boolean value or &quot;cover&quot; for only card cover attachments"
        required: false
        type: "string"
      - name: "attachment_fields"
        in: "query"
        description: "all or a comma-separated list of: bytes, date, edgeColor, idMember,\
          \ isUpload, mimeType, name, previews or url"
        required: false
        type: "string"
        default: "all"
      - name: "stickers"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "members"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "member_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, fullName, initials and username"
      - name: "checkItemStates"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "checklists"
        in: "query"
        description: "One of: all or none"
        required: false
        type: "string"
        default: "none"
      - name: "limit"
        in: "query"
        description: "a number from 1 to 1000"
        required: false
        type: "string"
      - name: "since"
        in: "query"
        description: "A date, or null"
        required: false
        type: "string"
      - name: "before"
        in: "query"
        description: "A date, or null"
        required: false
        type: "string"
      - name: "filter"
        in: "query"
        description: "One of: all, closed, none, open or visible"
        required: false
        type: "string"
        default: "visible"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/cards/{filter}:
    get:
      tags:
      - "board"
      summary: "getBoardsCardsByIdBoardByFilter()"
      operationId: "getBoardsCardsByIdBoardByFilter"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "filter"
        in: "path"
        description: "filter"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
  /boards/{idBoard}/cards/{idCard}:
    get:
      tags:
      - "board"
      summary: "getBoardsCardsByIdBoardByIdCard()"
      operationId: "getBoardsCardsByIdBoardByIdCard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "idCard"
        in: "path"
        description: "idCard"
        required: true
        type: "string"
      - name: "attachments"
        in: "query"
        description: "A boolean value or &quot;cover&quot; for only card cover attachments"
        required: false
        type: "string"
      - name: "attachment_fields"
        in: "query"
        description: "all or a comma-separated list of: bytes, date, edgeColor, idMember,\
          \ isUpload, mimeType, name, previews or url"
        required: false
        type: "string"
        default: "all"
      - name: "actions"
        in: "query"
        description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        required: false
        type: "string"
      - name: "actions_entities"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "actions_display"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "actions_limit"
        in: "query"
        description: "a number from 0 to 1000"
        required: false
        type: "string"
        default: "50"
      - name: "action_fields"
        in: "query"
        description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        required: false
        type: "string"
        default: "all"
      - name: "action_memberCreator_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, fullName, initials and username"
      - name: "members"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "member_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, initials, fullName and username"
      - name: "checkItemStates"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "checkItemState_fields"
        in: "query"
        description: "all or a comma-separated list of: idCheckItem or state"
        required: false
        type: "string"
        default: "all"
      - name: "labels"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "checklists"
        in: "query"
        description: "One of: all or none"
        required: false
        type: "string"
        default: "none"
      - name: "checklist_fields"
        in: "query"
        description: "all or a comma-separated list of: idBoard, idCard, name or pos"
        required: false
        type: "string"
        default: "all"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/checklists:
    get:
      tags:
      - "board"
      summary: "getBoardsChecklistsByIdBoard()"
      operationId: "getBoardsChecklistsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "cards"
        in: "query"
        description: "One of: all, closed, none, open or visible"
        required: false
        type: "string"
        default: "none"
      - name: "card_fields"
        in: "query"
        description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        required: false
        type: "string"
        default: "all"
      - name: "checkItems"
        in: "query"
        description: "One of: all or none"
        required: false
        type: "string"
        default: "all"
      - name: "checkItem_fields"
        in: "query"
        description: "all or a comma-separated list of: name, nameData, pos, state\
          \ or type"
        required: false
        type: "string"
        default: "name, nameData, pos and state"
      - name: "filter"
        in: "query"
        description: "One of: all or none"
        required: false
        type: "string"
        default: "all"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: idBoard, idCard, name or pos"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
    post:
      tags:
      - "board"
      summary: "addBoardsChecklistsByIdBoard()"
      operationId: "addBoardsChecklistsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards Checklists\" to be added."
        required: true
        schema:
          $ref: "#/definitions/boards_checklists"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/closed:
    put:
      tags:
      - "board"
      summary: "updateBoardsClosedByIdBoard()"
      operationId: "updateBoardsClosedByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards Closed\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/boards_closed"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/deltas:
    get:
      tags:
      - "board"
      summary: "getBoardsDeltasByIdBoard()"
      operationId: "getBoardsDeltasByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "tags"
        in: "query"
        description: "A valid tag for subscribing"
        required: true
        type: "string"
      - name: "ixLastUpdate"
        in: "query"
        description: "a number from -1 to Infinity"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/desc:
    put:
      tags:
      - "board"
      summary: "updateBoardsDescByIdBoard()"
      operationId: "updateBoardsDescByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards Desc\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/boards_desc"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/emailKey/generate:
    post:
      tags:
      - "board"
      summary: "addBoardsEmailKeyGenerateByIdBoard()"
      operationId: "addBoardsEmailKeyGenerateByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/idOrganization:
    put:
      tags:
      - "board"
      summary: "updateBoardsIdOrganizationByIdBoard()"
      operationId: "updateBoardsIdOrganizationByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards Id Organization\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/boards_idOrganization"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/labelNames/blue:
    put:
      tags:
      - "board"
      summary: "updateBoardsLabelNamesBlueByIdBoard()"
      operationId: "updateBoardsLabelNamesBlueByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Label Names Blue\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/labelNames_blue"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/labelNames/green:
    put:
      tags:
      - "board"
      summary: "updateBoardsLabelNamesGreenByIdBoard()"
      operationId: "updateBoardsLabelNamesGreenByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Label Names Green\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/labelNames_green"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/labelNames/orange:
    put:
      tags:
      - "board"
      summary: "updateBoardsLabelNamesOrangeByIdBoard()"
      operationId: "updateBoardsLabelNamesOrangeByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Label Names Orange\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/labelNames_orange"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/labelNames/purple:
    put:
      tags:
      - "board"
      summary: "updateBoardsLabelNamesPurpleByIdBoard()"
      operationId: "updateBoardsLabelNamesPurpleByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Label Names Purple\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/labelNames_purple"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/labelNames/red:
    put:
      tags:
      - "board"
      summary: "updateBoardsLabelNamesRedByIdBoard()"
      operationId: "updateBoardsLabelNamesRedByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Label Names Red\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/labelNames_red"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/labelNames/yellow:
    put:
      tags:
      - "board"
      summary: "updateBoardsLabelNamesYellowByIdBoard()"
      operationId: "updateBoardsLabelNamesYellowByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Label Names Yellow\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/labelNames_yellow"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/labels:
    get:
      tags:
      - "board"
      summary: "getBoardsLabelsByIdBoard()"
      operationId: "getBoardsLabelsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: color, idBoard, name or uses"
        required: false
        type: "string"
        default: "all"
      - name: "limit"
        in: "query"
        description: "a number from 0 to 1000"
        required: false
        type: "string"
        default: "50"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
    post:
      tags:
      - "board"
      summary: "addBoardsLabelsByIdBoard()"
      operationId: "addBoardsLabelsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards Labels\" to be added."
        required: true
        schema:
          $ref: "#/definitions/boards_labels"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/labels/{idLabel}:
    get:
      tags:
      - "board"
      summary: "getBoardsLabelsByIdBoardByIdLabel()"
      operationId: "getBoardsLabelsByIdBoardByIdLabel"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "idLabel"
        in: "path"
        description: "idLabel"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: color, idBoard, name or uses"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/lists:
    get:
      tags:
      - "board"
      summary: "getBoardsListsByIdBoard()"
      operationId: "getBoardsListsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "cards"
        in: "query"
        description: "One of: all, closed, none, open or visible"
        required: false
        type: "string"
        default: "none"
      - name: "card_fields"
        in: "query"
        description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        required: false
        type: "string"
        default: "all"
      - name: "filter"
        in: "query"
        description: "One of: all, closed, none or open"
        required: false
        type: "string"
        default: "open"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: closed, idBoard, name, pos\
          \ or subscribed"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
    post:
      tags:
      - "board"
      summary: "addBoardsListsByIdBoard()"
      operationId: "addBoardsListsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards Lists\" to be added."
        required: true
        schema:
          $ref: "#/definitions/boards_lists"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/lists/{filter}:
    get:
      tags:
      - "board"
      summary: "getBoardsListsByIdBoardByFilter()"
      operationId: "getBoardsListsByIdBoardByFilter"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "filter"
        in: "path"
        description: "filter"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
  /boards/{idBoard}/markAsViewed:
    post:
      tags:
      - "board"
      summary: "addBoardsMarkAsViewedByIdBoard()"
      operationId: "addBoardsMarkAsViewedByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/members:
    get:
      tags:
      - "board"
      summary: "getBoardsMembersByIdBoard()"
      operationId: "getBoardsMembersByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "filter"
        in: "query"
        description: "One of: admins, all, none, normal or owners"
        required: false
        type: "string"
        default: "all"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "fullName and username"
      - name: "activity"
        in: "query"
        description: "true or false ; works for premium organizations only."
        required: false
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
    put:
      tags:
      - "board"
      summary: "updateBoardsMembersByIdBoard()"
      operationId: "updateBoardsMembersByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards Members\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/boards_members"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/members/{filter}:
    get:
      tags:
      - "board"
      summary: "getBoardsMembersByIdBoardByFilter()"
      operationId: "getBoardsMembersByIdBoardByFilter"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "filter"
        in: "path"
        description: "filter"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
  /boards/{idBoard}/members/{idMember}:
    put:
      tags:
      - "board"
      summary: "updateBoardsMembersByIdBoardByIdMember()"
      operationId: "updateBoardsMembersByIdBoardByIdMember"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "idMember"
        in: "path"
        description: "idMember"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards Members\" to be updated."
        required: true
        schema:
          $ref: "#/definitions/boards_members"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
    delete:
      tags:
      - "board"
      summary: "deleteBoardsMembersByIdBoardByIdMember()"
      operationId: "deleteBoardsMembersByIdBoardByIdMember"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "idMember"
        in: "path"
        description: "idMember"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/members/{idMember}/cards:
    get:
      tags:
      - "board"
      summary: "getBoardsMembersCardsByIdBoardByIdMember()"
      operationId: "getBoardsMembersCardsByIdBoardByIdMember"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "idMember"
        in: "path"
        description: "idMember"
        required: true
        type: "string"
      - name: "actions"
        in: "query"
        description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        required: false
        type: "string"
      - name: "attachments"
        in: "query"
        description: "A boolean value or &quot;cover&quot; for only card cover attachments"
        required: false
        type: "string"
      - name: "attachment_fields"
        in: "query"
        description: "all or a comma-separated list of: bytes, date, edgeColor, idMember,\
          \ isUpload, mimeType, name, previews or url"
        required: false
        type: "string"
        default: "all"
      - name: "members"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "member_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "avatarHash, fullName, initials and username"
      - name: "checkItemStates"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "checklists"
        in: "query"
        description: "One of: all or none"
        required: false
        type: "string"
        default: "none"
      - name: "board"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "board_fields"
        in: "query"
        description: "all or a comma-separated list of: closed, dateLastActivity,\
          \ dateLastView, desc, descData, idOrganization, invitations, invited, labelNames,\
          \ memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred,\
          \ subscribed or url"
        required: false
        type: "string"
        default: "name, desc, closed, idOrganization, pinned, url and prefs"
      - name: "list"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "list_fields"
        in: "query"
        description: "all or a comma-separated list of: closed, idBoard, name, pos\
          \ or subscribed"
        required: false
        type: "string"
        default: "all"
      - name: "filter"
        in: "query"
        description: "One of: all, closed, none, open or visible"
        required: false
        type: "string"
        default: "visible"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/membersInvited:
    get:
      tags:
      - "board"
      summary: "getBoardsMembersInvitedByIdBoard()"
      operationId: "getBoardsMembersInvitedByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, avatarSource,\
          \ bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned,\
          \ idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed,\
          \ prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash,\
          \ url or username"
        required: false
        type: "string"
        default: "all"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/membersInvited/{field}:
    get:
      tags:
      - "board"
      summary: "getBoardsMembersInvitedByIdBoardByField()"
      operationId: "getBoardsMembersInvitedByIdBoardByField"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "field"
        in: "path"
        description: "field"
        required: true
        type: "string"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/memberships:
    get:
      tags:
      - "board"
      summary: "getBoardsMembershipsByIdBoard()"
      operationId: "getBoardsMembershipsByIdBoard"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "filter"
        in: "query"
        description: "all or a comma-separated list of: active, admin, deactivated,\
          \ me or normal"
        required: false
        type: "string"
        default: "all"
      - name: "member"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "member_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "fullName and username"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /boards/{idBoard}/memberships/{idMembership}:
    get:
      tags:
      - "board"
      summary: "getBoardsMembershipsByIdBoardByIdMembership()"
      operationId: "getBoardsMembershipsByIdBoardByIdMembership"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "idMembership"
        in: "path"
        description: "idMembership"
        required: true
        type: "string"
      - name: "member"
        in: "query"
        description: " true or false"
        required: false
        type: "string"
      - name: "member_fields"
        in: "query"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        required: false
        type: "string"
        default: "fullName and username"
      - name: "key"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
    put:
      tags:
      - "board"
      summary: "updateBoardsMembershipsByIdBoardByIdMembership()"
      operationId: "updateBoardsMembershipsByIdBoardByIdMembership"
      parameters:
      - name: "idBoard"
        in: "path"
        description: "board_id"
        required: true
        type: "string"
      - name: "idMembership"
        in: "path"
        description: "idMembership"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Attributes of \"Boards Memberships\" to be updated."
        required: true
        schema:
[...]
